* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body,
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background: #0B2434;
}

.App {
  width: 100%;
  text-align: center;
}

.footer {
  color: #fff;
  margin-top: 15px;
  font-size: 0.9em;
}

.footer a {
  color: #fff;
}